# Add Python dependencies here
yt-dlp
pandas
shutil
git+https://github.com/openai/whisper.git # Whisper from source
cerebras-cloud-sdk
tqdm
python-dotenv
pyyaml

# For PyTorch with CUDA 12.6
--index-url https://download.pytorch.org/whl/cu126
torch
torchvision